.cart-main-container {
  width: 100wh;
  height: auto;
}
.cart-container {
  max-width: 568px;
  background-color: #f0f0f5;
  padding: 12px;
  background-size: cover;
  height: auto;
}
.your-cart-arrow-container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  max-width: 568px;
  padding-left: 10px;
  border-bottom: 1px solid #cccccc;
  height: 60px;
}
.arrow-link {
  margin-top: 8px;
  margin-right: 20px;
}
.cart-items-container {
  background-color: white;
  border-radius: 12px;
  padding: 10px;
  margin-top: 65px;
}
.cart-item-list-container {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  gap: 10px;
}
.your-items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.your-items,
.total-items {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Inter';
}

.dashed-line {
  border: none;
  border-top: 1px dashed #999;
  margin: 0px;
  margin-bottom: 10px;
}
.each-cart-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 4px;
}
.cart-image-container {
  flex: 0 0 60px; /* fixed width for all images */
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  padding: 4px;
  background-color: #f0f0f5;
}
.cart-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ensures consistent image fill */
  border-radius: 10px;
}
.cart-item-details-container {
  flex: 1;
}
.cart-product-name {
  font-size: 12px;
  font-weight: bold;
  margin: 0px;
}
.cart-product-weight {
  font-size: 12px;
  font-weight: bold;
  padding: 0px;
  color: #088c03;
  margin: 0px;
}
.empty-cart {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.empty-cart-img {
  width: 80px;
}
.cart-product-price {
  font-weight: 500;
  font-size: 12px;
  width: 60px;
  text-align: right;
}
.cart-bill-container {
  background-color: white;
  border-radius: 12px;
  padding: 10px;
  margin-top: 20px;
  min-width: 450px;
  max-width: 450px;
}
.total-bill-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bill-details {
  font-family: 'Roboto Mono', monospace;
  color: #999;
  font-size: 12px;
  font-weight: bold;
}
.total-label,
.total-amount {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Inter';
  margin-top: 0px;
}
.show-now-btn {
  border: none;
  background-color: #088c03;
  padding: 10px;
  color: white;
  font-weight: bold;
}

@media (min-width: 992px) {
  .cart-container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .your-cart-arrow-container {
    display: none;
  }
}
