.catogery-main-container {
  max-width: 568px;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  padding: 0px;
  margin: 0px;
  position: fixed;
  top: 0;
  left: 0;
}
.category-menu {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  padding-top: 10px;
  width: 100%;
  border-bottom: 1px solid #22c55e;
  scroll-behavior: smooth;
}

.category-menu::-webkit-scrollbar {
  width: 0;
}
.catogery-heading {
  display: none;
}
.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.icon-wrapper {
  background-color: #f3f4f6;
  color: #f3f4f6;
  padding: 12px;
  border-radius: 10px;
  transition: 0.5s ease;
}
.active {
  background-color: #22c55e;
  color: #22c55e;
}

.icon-wrapper:hover {
  background-color: #22c55e;
  color: #22c55e;
}

.category-name {
  margin-top: 8px;
  font-size: 8px;
  font-weight: 500;
  text-align: center;
}
.category-item:hover .icon-wrapper {
  background-color: #22c55e;
}

.active-name {
  color: #22c55e;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.category-item:hover .category-name {
  color: #22c55e; /* green text */
}
@media (min-width: 992px) {
  .catogery-main-container {
    position: static;
    flex: 1 0 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .category-menu {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    border: none;
    padding: 0px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .category-menu::-webkit-scrollbar {
    width: 8px;
  }

  .category-menu::-webkit-scrollbar-thumb {
    background-color: #22c55e;
    border-radius: 8px;
  }

  .category-menu::-webkit-scrollbar-track {
    background-color: #f3f4f6;
  }
  .category-item {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 30px;
    padding-left: 10px;
    width: 80%;
  }
  .active-name {
    background-color: #22c55e;
    border: none;
    border-radius: 10px;
    color: white;
  }
  .category-item:hover .category-name {
    color: white; /* green text */
  }
  .active {
    background-color: transparent;
    color: white;
  }
  .catogery-heading {
    display: block;
    color: #22c55e;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
  .icon-wrapper {
    display: none;
  }
  .category-name {
    font-size: 14px;
  }
}
